body {
  font-family: "Gudea", sans-serif;
  overflow-x: hidden;
}

body a {
  color: #006A8E;
}

a:active,
a:focus,
a:hover {
  color: #d73f09;
  text-decoration: none;
}

.link--alt,
.link--alt:visited {
  color: #fff;
}

.link--alt:active, .link--alt:focus, .link--alt:hover {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.chevron-list {
  padding-left: 1.6rem;
}

.chevron-list li {
  list-style-type: none;
}

.chevron-list li:before {
  font-family: "FontAwesome";
  content: "\f105";
  color: #d73f09;
  margin-right: 10px;
}

table,
td,
th {
  border: none;
}

th {
  font-weight: bold;
  padding: .3rem .4rem;
}

td {
  padding: .1rem .4rem;
}

tr:nth-child(2n+1) {
  background: #f5f2ed;
}

caption {
  caption-side: top;
  color: #272727;
  padding-bottom: 0;
}

.block {
  padding: .5rem 0;
}

.block__title {
  font-size: 1.2em;
}

.menu {
  padding-left: 0;
  display: flex;
}

.menu--vertical {
  flex-direction: column;
}

.menu__item {
  list-style-type: none;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.menu__link,
.menu__link:visited {
  padding: .5rem 1rem;
  color: #252525;
  text-decoration: none;
}

.menu--vertical__item {
  border-bottom: 1px solid #f5f2ed;
}

.menu--vertical__item:last-child {
  border-bottom: none;
}

.menu--vertical__link {
  padding: .2rem 0 .2rem 1.5rem;
}

.menu--vertical__link:focus, .menu--vertical__link:hover, .menu--vertical__link:active {
  color: #d73f09;
}

/* @TODO: These need to be deleted or removed when we find a better solution
 * to add these above classes programmatically to all menus
 */
.layout-sidebar-first .menu a, .layout-sidebar-first .menu:active {
  color: #252525;
  text-decoration: none;
  padding: .2rem 0 .2rem 1.5rem;
}

.layout-sidebar-first .menu a:active, .layout-sidebar-first .menu a:focus, .layout-sidebar-first .menu a:hover {
  color: #d73f09;
}

.menu-local-tasks {
  height: 2em;
  border-bottom: 1px solid #ccc;
}

.menu-local-tasks__link {
  border: 1px solid #ccc;
  background-color: #f5f2ed;
  margin-right: .2em;
}

.menu-local-tasks__link:active, .menu-local-tasks__link:focus, .menu-local-tasks__link:hover, .menu-local-tasks__link.is-active {
  background: #fff;
}

.menu-local-tasks__link.is-active {
  border-bottom-color: #fff;
  color: #272727;
}

/*** This html and JS comes from superfish module
 * This file does not comform to BEM standards because the module does not do so
 ***/
ul.sf-menu .sf-sub-indicator {
  height: 14px;
  width: 14px;
}

ul.sf-menu.sf-style-none li:hover a.menuparent {
  background-color: #272727;
  color: #fff;
}

ul.sf-menu.sf-style-none li:hover li a.menuparent:hover, ul.sf-menu.sf-style-none li:hover li a.menuparent:active, ul.sf-menu.sf-style-none li:hover li a.menuparent:focus {
  color: #fff;
  background-color: #d73f09;
}

ul.sf-menu.sf-style-none a {
  color: #272727;
  text-decoration: none;
  background-color: #fff;
}

ul.sf-menu.sf-style-none a:active, ul.sf-menu.sf-style-none a:focus, ul.sf-menu.sf-style-none a:hover, ul.sf-menu.sf-style-none a.is-active {
  background: #272727;
  color: #fff;
}

ul.sf-menu.sf-style-none ul a {
  background-color: #272727;
  color: #fff;
}

ul.sf-menu.sf-style-none ul a:active, ul.sf-menu.sf-style-none ul a:focus, ul.sf-menu.sf-style-none ul a:hover {
  color: #fff;
  background-color: #d73f09;
}

.osu-header {
  position: relative;
  background-color: #f5f2ed;
  height: 80px;
  display: flex;
}

.osu-header__logo-link {
  text-decoration: none;
  margin-right: 2em;
}

.osu-header__logo {
  height: 80px;
  /* Needed ? */
  /* @TODO check above this later */
}

.osu-header__logo .site-title h1 {
  color: #d73f09;
  display: inline-block;
  padding-left: 2rem;
  margin-bottom: 0;
  vertical-align: middle;
}

.osu-header__logo .site-title:active h1, .osu-header__logo .site-title:focus h1, .osu-header__logo .site-title:hover h1 {
  text-decoration: underline;
}

.osu-header__icon-wrapper {
  position: absolute;
  right: 20px;
  top: 15px;
}

.osu-header__icon,
.osu-header__icon:visited {
  color: #272727;
  font-size: 2rem;
  text-decoration: none;
}

.osu-header__icon:active, .osu-header__icon:focus, .osu-header__icon:hover,
.osu-header__icon:visited:active,
.osu-header__icon:visited:focus,
.osu-header__icon:visited:hover {
  color: #d73f09;
}

.osu-header__mobile-menu {
  padding-right: 1rem;
}

.search {
  background: rgba(0, 0, 0, 0.9);
  height: 40em;
  padding-top: 4em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  display: none;
}

.search__form {
  height: 20em;
  text-align: center;
}

.search__content {
  margin: 2em 0;
  color: #fff;
}

.search__submit {
  background: #c34500;
  padding: 20px;
  border: none;
  position: relative;
  top: 9px;
  left: -4px;
}

.search__submit:hover .search__icon, .search__submit:focus .search__icon {
  color: #fff;
}

.search__icon {
  display: block;
  font-size: 48px;
  color: #333;
}

.search__input {
  font-size: 1.5rem;
  margin: 0 auto;
  height: 3.7em;
  text-align: center;
  width: 20rem;
  border: none;
  padding: 0;
}

.search__close {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
}

.search__close:hover, .search__close:focus {
  background: #fff;
  color: #000;
}

@media screen and (max-width: 544px) {
  .search__input {
    max-width: 15rem;
  }
}

.main-wrapper {
  padding: 0;
  flex: 1;
  position: relative;
}

.layout-content {
  padding: 1rem;
}

.paragraph {
  /* padding-left: .9375rem */
  word-break: break-all;
}

.paragraph div[class^=col-] > div {
  padding: .9rem;
}

.orange_bg_left .col-md-6:first-child,
.orange_bg_right .col-md-6 + .col-md-6 {
  background-color: #d73f09;
  color: #fff;
}

.orange_bg_left .col-md-6:first-child a,
.orange_bg_right .col-md-6 + .col-md-6 a {
  color: #fff;
}

.black_bg_left .col-md-6:first-child,
.black_bg_right .col-md-6 + .col-md-6 {
  background-color: #272727;
  color: #fff;
}

.black_bg_left .col-md-6:first-child a,
.black_bg_right .col-md-6 + .col-md-6 a {
  color: #fff;
}

.bg_padding > div {
  padding-top: 1rem;
}

.paragraph--type--paragraph-2-column {
  min-height: 12rem;
}

.paragraph--type--paragraph-2-column > div {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.paragraph--type--p-tab-stories .story-wrapper {
  position: relative;
  min-height: 25rem;
  background-color: #272727;
}

.paragraph--type--p-tab-stories .story-wrapper .stories {
  position: absolute;
  left: -999em;
  width: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 25rem;
}

.paragraph--type--p-tab-stories .story-wrapper .stories.active {
  left: 0;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.paragraph--type--p-tab-stories .story-wrapper .stories > div {
  position: absolute;
  bottom: 0;
  background: rgba(195, 69, 0, 0.8) none repeat scroll 0 0;
  color: #fff;
  width: 100%;
  padding: 1.5rem 1.5rem .5rem;
}

.paragraph--type--p-tab-stories .tab-menu {
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph--type--p-tab-stories .tab-menu a {
  color: #f5f2ed;
  font-size: 4rem;
  display: inline-block;
  padding: 1rem 3rem;
  border-bottom: 4px transparent solid;
  position: relative;
}

.paragraph--type--p-tab-stories .tab-menu a.active {
  border-bottom-color: #d73f09;
}

.paragraph--type--p-tab-stories .tab-menu a.active:after {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  left: 44%;
  width: 0;
  height: 0;
  border-color: transparent transparent #272727 transparent;
  border-style: solid;
  border-width: 10px;
}

.paragraph--type--paragraph-plain {
  padding: 4rem 20%;
}

.paragraph--type--paragraph-1-column {
  min-height: 20rem;
}

.paragraph--type--paragraph-1-column > div {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph--type--paragraph-1-column > div > div {
  text-align: center;
  color: #fff;
  padding: 2rem;
}

.paragraph--type--paragraph-1-column.left-text > div,
.paragraph--type--paragraph-1-column.right-text > div {
  display: block;
}

.paragraph--type--paragraph-1-column.left-text > div > div,
.paragraph--type--paragraph-1-column.right-text > div > div {
  width: 50%;
  text-align: left;
}

.paragraph--type--paragraph-icon-menu {
  background-color: #d73f09;
  text-align: center;
}

.paragraph--type--paragraph-icon-menu.menu-gray {
  background-color: #f5f2ed;
}

.paragraph--type--paragraph-icon-menu.menu-gray > div > div a {
  color: #d73f09;
}

.paragraph--type--paragraph-icon-menu > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph--type--paragraph-icon-menu > div > div {
  flex-direction: row;
}

.paragraph--type--paragraph-icon-menu > div > div a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.paragraph--type--paragraph-icon-menu > div > div a i {
  color: #000;
  font-size: 2.2rem;
  display: block;
  margin: auto;
}

.paragraph--type--paragraph-icon-menu.right-text > div > div {
  text-align: right;
  float: right;
}

.layout-sidebar-first {
  padding: 1rem 1rem 1rem 0;
}

.light-text {
  color: #fff;
}

.light-text a {
  color: #fff;
}

.light-text a:active, .light-text a:focus, .light-text a:hover {
  color: #fff;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

/* Feature Story View Block */
div[id^=block-views-block-feature-story-] {
  position: relative;
  overflow: hidden;
}

div[id^=block-views-block-feature-story-] .views-row {
  display: none;
  position: relative;
  overflow: hidden;
  border-bottom: 3px solid #d73f09;
}

div[id^=block-views-block-feature-story-] .views-row .fs-content {
  background: rgba(255, 255, 255, 0.9);
  padding: .8rem;
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  width: 40%;
}

div[id^=block-views-block-feature-story-] .views-row .fs-content > a {
  font-size: 1.4rem;
  text-decoration: none;
}

div[id^=block-views-block-feature-story-] .views-row.active {
  display: block;
}

div[id^=block-views-block-feature-story-] .views-row img {
  float: left;
  height: auto;
  width: 100%;
}

.hero-banner {
  background-size: cover;
  background-position: center;
  min-height: 450px;
}

.hero-banner .hero-callout {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 1rem;
  margin-top: 8rem;
  margin-left: 1rem;
  width: 50%;
}

.hero-banner .hero-callout h3 {
  color: #d73f09;
  background-color: rgba(255, 255, 255, 0.6);
  margin: -16px -0.5em 0.5em;
  padding: .7em .5em .2em;
}

.hero-banner .jumbotron {
  margin-bottom: 0;
}

nav .main-menu {
  margin: 1rem 0;
}

nav .main-menu a {
  color: #272727;
  text-decoration: none;
  text-transform: uppercase;
}

nav .main-menu a:active, nav .main-menu a:focus, nav .main-menu a:hover {
  color: #d73f09;
}

nav ul {
  list-style-type: none;
}

#block-homepage-main-menu {
  z-index: 255;
}

/* Bootstrap Buttons modifications */
.btn {
  border: none;
}

.btn-primary {
  background: #d73f09;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #bf3808;
}

.footer {
  background: #272727 url("images/repeatable-treeline.png") repeat-x scroll left bottom;
  min-height: 300px;
  border-top: 3px solid #d73f09;
  color: #ffffff;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer__region {
  padding: .9rem;
}

.section--margin-large {
  margin: 0 20%;
}

.section--margin-medium {
  margin: 0 10%;
}

.section--margin-small {
  margin: 0 5%;
}

.section--margin-title {
  margin: 0 67px;
}

.hero--content-right > .hero-callout {
  float: right;
  margin-left: initial;
  margin-right: 1em;
}

.hero--content-left > .hero-callout {
  float: initial;
}

.content--orange-left > .layout__region:first-child {
  background-color: #d73f09;
  color: white;
}

.content--orange-left > .layout__region:first-child .layout-builder-block {
  background-color: transparent;
}

.content--orange-right > .layout__region:last-child {
  background-color: #d73f09;
  color: white;
}

.content--orange-right > .layout__region:last-child .layout-builder-block {
  background-color: transparent;
}

.content--black-left > .layout__region:first-child {
  background-color: #272727;
  color: white;
}

.content--black-left > .layout__region:first-child .layout-builder-block {
  background-color: transparent;
}

.content--black-right > .layout__region:last-child {
  background-color: #272727;
  color: white;
}

.content--black-right > .layout__region:last-child .layout-builder-block {
  background-color: transparent;
}

.alert.js-messages__wrapper {
  position: fixed;
}

.block-inline-blockbasic > .content {
  padding: 0 2em;
}

/* Bootstrap already includes some image styles that work well:
 * http://v4-alpha.getbootstrap.com/content/images/#image-shapes
 */
@media screen and (max-width: 544px) {
  .paragraph--type--paragraph-icon-menu > div {
    align-items: left;
  }
  .paragraph--type--paragraph-icon-menu > div > div a {
    padding: .7em .3em;
    font-weight: normal;
    vertical-align: top;
  }
  .paragraph--type--paragraph-1-column.left-text > div > div,
  .paragraph--type--paragraph-1-column.right-text > div > div {
    width: 100%;
  }
  .hero-banner .hero-callout {
    margin-left: initial;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 992px) {
  #block-homepage-main-menu {
    position: absolute;
    top: 5rem;
    right: 0;
    background: #272727;
    width: 100%;
  }
  #block-homepage-main-menu a {
    color: #fff;
    text-align: center;
  }
  div[id^="block-views-block-feature-story-"] .views-row .fs-content {
    position: static;
    width: 100%;
  }
  div[id^="block-views-block-feature-story-"] .views-row .fs-content > a {
    font-size: 1.2rem;
  }
  div[id^="block-views-block-feature-story-"] .views-row img {
    padding-bottom: .8rem;
  }
}

/*# sourceMappingURL=pine.css.map */