{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}

{# Removed the empty <div> for the header region... #}
{% if content %}

    {{ content }}
    <div class="osu-header__icon-wrapper">
        <a id="_toggle-mobile-menu" class="osu-header__icon d-inline d-md-none" href="#">
            <i class="sr-only sr-only-focusable">Open Menu</i>
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <a id="_toggle-search" class="osu-header__icon" href="http://search.oregonstate.edu">
            <i class="sr-only sr-only-focusable">Open Search</i>
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>
    </div>
{% endif %}
